@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.title-faq-area {
  width: 30%;
  height: 100%;
  background-color: hsl(233, 47%, 7%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  gap: 80px;
  color: hsla(0, 0%, 100%, 0.75)
}
.title-area {
  width: 160px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px 0px;  
}
.color-title-reset {
  color: hsl(277, 64%, 61%)
}
.h3 {
  cursor: pointer;
  transition: 0.5s;
}
.h3:hover {
  font-size: 34px;
} 
.help-content {
  width: 360px;
  height: 160px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: hsla(0, 0%, 100%, 0.75);

}
.faq-title {
  color: hsla(0, 0%, 100%, 0.75)
}
.faq-title:hover {
  color: hsl(277, 64%, 61%);
}
.help-content a {
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
  margin: 0 auto;
  color: hsla(0, 0%, 100%, 0.75);
}
.help-content a:hover {
  font-weight: bold;
  color: hsl(277, 64%, 61%);
}
.reset-area {
  width: 70%;
  height: 100%;
  background-color: hsl(244, 38%, 16%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 60px;
}
.req-area {
  width: 286px;
  height: 580px;
  background-image: url('../images/mock_phone.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.form-content {
  width: 95%;
  margin: auto;
  position: relative;
  top: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: hsla(0, 0%, 100%, 0.75);
  background-color: transparent;
  text-align: center; 
}
.img-effect {
  width: 60px;
  transition: 0.5s;
}
.img-effect:hover {
  width: 80px;
}
.result-area {
  width: 285px;
  height: 580px;
  background-image: url('../images/mock_phone.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px 0px;
}
#result-request {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: hsla(0, 0%, 100%, 0.75);
  background-color: transparent;
  overflow: auto;
  background-color: transparent;
  border-radius: 10px;
  font-size: 12px;
  padding: 3px;
}
.status-result {
  width: 30%;
  padding: 10px;
  border-radius: 5px;
  transition: 0.5s;
  text-align: center;
}
.footer {
  color: hsla(0, 0%, 100%, 0.75);
  position: fixed;
  right: 32.5%;
  bottom: 0%;
}

@media (max-width: 1150px) {
  .help-content a {
    font-size: 12px;
  }
}
@media (max-width: 950px) {
  .main {
    flex-direction: column;
  }
  .title-faq-area {
    width: 100%;
  }
  .help-content a {
    font-size: 16px;
  }
  .reset-area {
    flex-direction: column;
    width: 100%;
    padding: 30px 0px;
    height: 1300px;
    gap: 20px;
  }
  .footer {
    position: absolute;
    top: 1%;
    right: 5%;
  }
}



/* @media (max-width: 1150px) {
  .main {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .title-faq-area {
    width: 100vw;
    height: 600px;
} */
/*   
  }
   .req-area {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }  */
/*   .reset-area {
    width: 100%;
    height: 1200px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}   */
/* .bg-info {
  opacity: 1;
  background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;  
} 


/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
.header {
  width: 100vw;
  min-height: 10vh;
  max-height: 10vh;
  display: flex;
  align-items: center;
  background: rgb(0,212,255);
  background: linear-gradient(18deg, rgba(0,212,255,1) 0%, rgba(143,237,242,1) 47%, rgba(63,125,232,1) 100%);
}
.main {
  width: 100vw;
  min-height: 80vh;
}
.footer {
  width: 100vw;
  min-height: 10vh;
  max-height: 10vh;
  display: flex;
  align-items: center;
  background: rgb(0,212,255);
  background: linear-gradient(18deg, rgba(0,212,255,1) 0%, rgba(143,237,242,1) 47%, rgba(63,125,232,1) 100%);
}
.content-header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  color: #3f7de8;
}
.h3 {
  margin: auto 0;
  cursor: pointer;
  transition: 0.5s;
}
.h3:hover {
  font-size: 32px
}
.color-title-reset {
  color:#FFF;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  padding-top: 30px;
}
.form-content {
  width: 600px;
  height: 400px;
  background-color: transparent;
  border-radius: 20px;
  border-top: 3px solid #3f7de8;
  border-left: 3px solid #3f7de8;
  border-bottom: 3px solid #8fedf2;
  border-right: 3px solid #8fedf2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#contact-id,
#key-select {
  width: 340px;
}
.help-content {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #3f7de8;
}
.help-content .arrow {
  margin: 0 auto;
}
.help-content a {
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
  margin: 0 auto;
}
.help-content a:hover {
  font-weight: bold;
}

.paragraph {
  margin: 0 auto;
}


.content-footer {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  color: #3f7de8;
}

@media (max-width: 600px) {
  .form-content {
    width: 380px;
  }
}
 */

